.container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}
.message{
  position: absolute;
  top:10%;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background: #51aad6;
  font-size: 16px;
  z-index: 1;
}

.title{
  letter-spacing: 0.2rem;
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cube-row{
  display: flex;
  flex-direction: row;
  gap:5px;
}

.cube{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap:5px;
}
.letter{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
}

.top{
  width: 95%;
  display: flex;
  flex-direction: row;
  padding:10px 20px;
  border-bottom: 1px solid grey;
}
.bottom
{
  height: 33%;
  padding-top: 20px;
}

.cube-row.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct{
  background: #6aaa64;
  color: #fff;

}

.present{
  background: #c9b458;
  color: #fff;
}

.absent{
  background: #787c7e;
  color: #fff;
}